.errors {
  width: 90%;
  margin: 0 5%;
  }
  
  .error-empty {
    display:none;
    margin: 15px 0 5px;
    padding: 1px;
    height: 5rem;
    width: 100%;
    border:red solid 3px;
    color: red;
    text-align: center;
  }
  
  .error-length{
    display:none;
    margin: 15px 0 5px;
    padding: 1px;
    height: 5rem;
    width: 100%;
    border:red solid 3px;
    color: red;
    text-align: center;
  }
  
  .error-show{
  display: block;
  }