header {
  height: 520px;
  width: 100%;
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(204, 193, 35);
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

.avatar {
  display: flex;
  justify-content: center;
}

.user-name {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  margin: 0;
  margin-bottom: 3rem;
  font-weight: unset;
}

#user-firstname {
  margin: 0;
  margin-bottom: 3rem;
  font-weight: bold;
}

