nav {
  height: 120px;
  width: 100%;
  padding: 0 1.5em;
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}
#logo {
  display: flex;
  align-items: center;
  font-family: 'Bungee', cursive;
  font-size: 3rem;

}
.nav-right-side {
  width:100%;
  display: flex;
  flex-direction: column;
}

.new-tweet-link{
  text-align: right;
  vertical-align: baseline;
}

.new-tweet-icon{
  text-align: right;
  padding-right: 4rem;
}
