.new-tweet-section {
  border: 3px solid #f4f1ec;
  width: 90%;
  margin: 20px 5%;
  padding: 20px;
}

.new-tweet-section:hover {
  border:3px solid rgb(204, 193, 35);
}


.new-tweet-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

#tweet-text{
  margin: 15px 5px;
  font-weight: 75%;
  background-color: #f4f1ec;
  border-color: transparent;
  border-bottom: 3px solid rgb(69, 67, 67);
}

.new-tweet-count {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 5px;
}

.tweet-btn {
  background-color: #4056A1;
  border: none;
  color: #FFFFFF;
  font-size: 0.75em;
  text-align: center;
  font-family: 'Bungee', sans-serif;
}

.counter {
  border: none;
  font-family: 'Bungee', sans-serif;
}

.red {
  color: red;
}

.errors {
width: 90%;
margin: 0 5%;
}

.error-empty {
  display:none;
  margin: 15px 5px 5px;
  padding: 1px;
  height: 5rem;
  width: auto;
  border:red solid 3px;
  color: red;
  text-align: center;
}

.error-length{
  display:none;
  margin: 15px 5px 5px;
  padding: 1px;
  height: 5rem;
  width: auto;
  border:red solid 3px;
  color: red;
  text-align: center;
}

.error-show{
display: block;
}